<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>TITOLO PRIMA PAGINA DA VEDERE NELLA BARRA DI SOPRA</title>
    <meta name="description" content="Page Conferma Pagamento">
    <meta name="author" content="Bruna & Imbrea">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/datiBollettino.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
	<h1>Riassunto pagamento: </h1>
	<div class="card1-mia">
	<div class="container">
    	<div class="card card-riassunto">

    
    <h2>Riassunto destinatario</h2>
    		<p th:text="${'Codice bollettino destinatario: ' + CodiceBollettino}"></p>
    		<p th:text="${'Codice conto corrente destinatario ' + CCDestinatario}"></p>
    		<p th:text="${'Causale: ' + Causale}"></p>
    		<p th:text="${'Importo: ' + Importo}"></p>
    	</div>
    </div>
    </div>
    <div class="card2-mia">
    <div class="container">
    	<div class="card card-riassunto">
    <h2>Riassunto dei tuoi dati:</h2>
    		<p th:text="${'Nome: ' + NomePaga}"></p>
    		<p th:text="${'Cognome ' + CognomePaga}"></p>
    		<p th:text="${'Carta di credito: ' + CdC}"></p>
    	</div>
    </div>
    </div>
    
	<!-- end of the body -->
	<script src="js/main.js"></script>
</body>
<style>
	
</style>
</html>