<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>TITOLO PRIMA PAGINA DA VEDERE NELLA BARRA DI SOPRA</title>
    <meta name="description" content="Page Conferma Pagamento">
    <meta name="author" content="Bruna & Imbrea">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1>Riassunto pagamento: </h1>
	
	<h2>Riassunto bollettino destinatario:</h2>
    <div class="container">
    	<div class="card">
    		<p th:text="${CodiceBollettino}"></p>
    		<p th:text="${CCDestinatario}"></p>
    		<p th:text="${Causale}"></p>
    		<p th:text="${Importo}"></p>
    	</div>
    </div>
    
    <h2>Riassunto dei tuoi dati:</h2>
    <div class="container">
    	<div class="card">
    		<p th:text="${NomePaga}"></p>
    		<p th:text="${CognomePaga}"></p>
    		<p th:text="${CdC}"></p>
    	</div>
    </div>
	<!-- end of the body -->
	<script src="js/main.js"></script>
</body>
</html>