<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>Bollettino Postale</title>
    <meta name="description" content="Page Conferma Pagamento">
    <meta name="author" content="Bruna & Imbrea">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<div class="card">
  <div class="card-content">
    <div class="content">
      <form action="/pagamento-bollettino" method="post">
	<div class="field">
  <label class="label">Codice Bollettino</label>
  <div class="control">
    <input class="input" name="codiceBollettino" type="text" placeholder="">
  </div>
</div>

<div class="field">
  <label class="label">Conto corrente destinatario</label>
  <div class="control">
    <input class="input"  name="codiceContoDestinatario" type="number" placeholder="">
  </div>
</div>

<div class="field">
  <label class="label">Causale</label>
  <div class="control">
    <input class="input" type="text" name="causale" placeholder="">
  </div>
</div>

<label class="label">Importo</label>
<div class="field has-addons">
  <p class="control">
    <span class="select">
      <select>
        <option>$</option>
        <option>£</option>
        <option>€</option>
      </select>
    </span>
  </p>
  <p class="control">
    <input class="input" type="number" name="importo" placeholder="">
  </p>
</div>

<div class="control">
  <button class="button is-primary">Submit</button>
</div>

</form>
    </div>
  </div>
</div>


    <div id="footer"></div>
    
    <!-- end of the body -->
	<script src="js/main.js"></script>

</body>
</html>	