<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>TITOLO PRIMA PAGINA DA VEDERE NELLA BARRA DI SOPRA</title>
    <meta name="description" content="Error Page">
    <meta name="author" content="Bruna & Imbrea">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<div id="errorMessage"></div>
	<!-- end of the body -->
	<script th:inline="javascript">
		var errorMessage = [[${errorMessage}]];
		
		if (errorMessage) {
            var errorMessageElement = document.getElementById("errorMessage");
            errorMessageElement.textContent = errorMessage;
        }
	</script>
</body>
</html>